body {
    margin: 0;
    overflow: hidden;
    background: #000;
    font-family: Arial, sans-serif;
}

canvas {
    display: block;
    margin: 0 auto;
    background: url('../drillions-bg.png');
    background-size: cover;
}